body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
}

#description {
    font-style: italic;
}

#title, #description {
    text-align: center;
    margin: 0.5em auto;
}

.form-container {
    margin:0.1em auto;
    width: 60vw;
    max-height: max-content;
    padding: 30px 10px;
    border-radius: 3px;
}

label {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}
 
.input-text, .input-email, .input-number, select {
    width: 100%;
    height: 2.9em;
    border-radius: 4px;
}

.form-group {
    padding: 0.9em;
    margin: 0.1em;
    box-sizing: border-box;
}

.alternatives {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.input-checkbox, .input-radio {
    margin-right: 0.9em;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.comment-box {
    min-height: 138px;
    width: 100%;
    resize: none;
    padding: 0.8rem 0 0 0;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #3b3b4f;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}